.modal {
    padding: 5rem;
    width: 15rem;

    .card {
        position: relative;
        padding: 0.3rem 0.5rem;
        max-width: 15rem;
        min-height: 1.5rem;

        .input {
            height: 7rem;
        }
    }

    .actionButtons {
        margin-top: 1rem;
        button:first-child {
            margin-right: 1rem;
        }
    }
}
