.list {
    background-color: var(--secondary-main);
    border-radius: 0.2rem;
    height: 100%;
    width: fit-content;
    min-width: 15rem;
    padding: 0.5rem;
    padding-bottom: 0;

    .header,
    .footer {
        padding: 0.5rem 0;
    }

    .deleteButton,
    .closeButton {
        cursor: pointer;
        border: none;
        background: none;
        width: fit-content;
    }

    .hideInformation {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .card {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .formCard {
        padding: 0.3rem 0.5rem;
    }

    .footer {
        display: flex;
        align-items: center;

        .addButton {
            border: none;
            opacity: 60%;
            width: 100%;
            text-align: start;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
                filter: brightness(90%);
            }
        }

        .saveButton {
            margin-right: 0.5rem;
        }
    }
}
