.list {
    background-color: var(--secondary-main);
    border-radius: 0.2rem;
    height: fit-content;
    width: fit-content;
    min-width: 15rem;
    padding: 0.5rem;
    padding-bottom: 0;

    .header {
        padding: 0.5rem 0;
        display: flex;
        justify-content: space-between;

        .deleteButton {
            cursor: pointer;
            border: none;
            background: none;
            width: fit-content;

            .hideInformation {
                display: none;
            }
        }
    }

    .card {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .formCard {
        padding: 0.3rem 0.5rem;
    }
}
