.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    z-index: 998;
    animation: fadein 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        z-index: 999;
        position: absolute;
        margin: auto;
        border: 0.25rem solid #f3f3f3;
        border-top: 0.25rem solid var(--aux-color-1);
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
